# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [19]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [23]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [24]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [28]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [33]:
# Your code here:

data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [34]:
data['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [45]:
# Your code here:
from scipy.stats import ttest_1samp
import scipy.stats

hourly_data = data[data['Salary or Hourly'] == 'Hourly']
hourly_rates = hourly_data['Hourly Rate']

In [46]:
# Perform the one-sample t-test
t_statistic, p_value = ttest_1samp(hourly_rates, 30)

# Define the significance level
alpha = 0.05

In [47]:
print('stat is  ', t_statistic)
print('pvalue for the two-tailed test is ', p_value)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [48]:
# Check if the p-value is less than the significance level
if p_value < alpha:
    print("The hourly wage of hourly workers is significantly different from $30/hr.")
else:
    print("The hourly wage of hourly workers is not significantly different from $30/hr.")

The hourly wage of hourly workers is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [49]:
# Your code here:

# Filter the data for salaried employees in the police department and extract the annual salaries
police_data = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police_salaries = police_data['Annual Salary']

In [52]:
# Perform the one-sample t-test
t_statistic1, p_value1 = ttest_1samp(police_salaries, 86000)

# Define the significance level
alpha = 0.05

In [53]:
print('stat is  ', t_statistic1)
print('pvalue for the two-tailed test is ', p_value1)

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75

In [54]:
# Check if the test statistic is positive and the one-tailed p-value is below the significance level
if t_statistic > 0 and p_value/2 < alpha:
    print("The salaries in the police force are higher than last year's mean of $86,000/year.")
else:
    print("The salaries in the police force are not higher than last year's mean of $86,000/year.")

The salaries in the police force are higher than last year's mean of $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [55]:
# Your code here:

# Create a cross-tabulation between 'Department' and 'Salary or Hourly'
cross_tab = pd.crosstab(data['Department'], data['Salary or Hourly'])

In [56]:
# Filter the cross-tabulation to include only hourly workers
hourly_workers = cross_tab['Hourly']

In [57]:
# Find the department with the most hourly workers
department_most_hourly = hourly_workers.idxmax()

In [58]:
# Display the department with the most hourly workers
print("Department with the most hourly workers:", department_most_hourly)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [59]:
# Filter the data for the department with the most hourly workers and extract the hourly rate
hourly_data = data[(data['Salary or Hourly'] == 'Hourly') & (data['Department'] == department_most_hourly)]
hourly_rates = hourly_data['Hourly Rate']

In [61]:
# Your code here:

# Perform the one-sample t-test
t_statistic, p_value = ttest_1samp(hourly_rates, 35)

# Define the significance level
alpha = 0.05

In [62]:
# Check if the test statistic is negative and the one-tailed p-value is below the significance level

if t_statistic < 0 and p_value/2 < alpha:
    print("The hourly wage of workers from the department with the most hourly workers is less than $35/hour.")
else:
    print("The hourly wage of workers from the department with the most hourly workers is not less than $35/hour.")

The hourly wage of workers from the department with the most hourly workers is not less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [64]:
# Your code here:
# Compute the mean and standard error of the hourly rate
from scipy.stats import t, sem
mean_hourly_rate = hourly_rates.mean()
standard_error = sem(hourly_rates)

In [65]:
# Compute the confidence interval
confidence_level = 0.95
degrees_of_freedom = len(hourly_rates) - 1
confidence_interval = t.interval(confidence_level, degrees_of_freedom, mean_hourly_rate, standard_error)

In [66]:
# Display the confidence interval
print("95% Confidence Interval for Mean Hourly Wage:")
print("Lower bound:", confidence_interval[0])
print("Upper bound:", confidence_interval[1])

95% Confidence Interval for Mean Hourly Wage:
Lower bound: 35.28150811892106
Upper bound: 35.82308559722194

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [67]:
# Your code here:
# Filter the data for salaried employees in the police department and extract the annual salary
police_data = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police_salaries = police_data['Annual Salary']

In [68]:
# Compute the mean and standard error of the police salaries
mean_police_salary = police_salaries.mean()
standard_error = sem(police_salaries)

In [69]:
# Compute the confidence interval
confidence_level = 0.95
degrees_of_freedom = len(police_salaries) - 1
confidence_interval = t.interval(confidence_level, degrees_of_freedom, mean_police_salary, standard_error)

In [70]:
# Display the confidence interval
print("95% Confidence Interval for Mean Salary of Police Employees:")
print("Lower bound:", confidence_interval[0])
print("Upper bound:", confidence_interval[1])

95% Confidence Interval for Mean Salary of Police Employees:
Lower bound: 88534.1182885883
Upper bound: 89134.11955863392

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [71]:
# Your code here:

# Calculate the total number of employee
total_employees = len(data)

In [72]:
# Calculate the number of hourly workers
hourly_workers = len(data[data['Salary or Hourly'] == 'Hourly'])

In [73]:
# Set the hypothesized proportion
hypothesized_proportion = 0.25

In [77]:
# Perform the hypothesis test of proportions
import statsmodels.api as sm
z_statistic, p_value = sm.stats.proportions_ztest(hourly_workers, total_employees, hypothesized_proportion)

# Define the significance level
alpha = 0.05

In [78]:
# Check if the p-value is below the significance level
if p_value < alpha:
    print("The number of hourly workers in the City of Chicago is significantly different from 25%.")
else:
    print("The number of hourly workers in the City of Chicago is not significantly different from 25%.")

The number of hourly workers in the City of Chicago is significantly different from 25%.